$paleYellow: #FCCB7E;

.speech {
  z-index: 2;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  background: $paleYellow;
  padding: 0 8px;
  animation: fadeInOpacity .2s ease-in 1;

  .after {
    width: 35px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotateZ(-14.32394487827058deg)  translateX(-5px) skewX(-36deg);
  }

  .text {
    position: relative;
    z-index: 2;
    font-family: "Open Sans", Helvetica, sans-serif;;
    color: #fff;
  }
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
