{
  "plugins": [
      "prettier"
  ],
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "webpack": "styleguide.config.js"
    }
  },

  "rules": {
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "no-mixed-operators": 0,
    "prettier/prettier": ["error", {"trailingComma": "es5", "singleQuote": true}]
  },
}
