/************************
Colours
************************/

$color-white: #fff;
$color-linear-bg: linear-gradient(-180deg, #28B1DE 0%, #00C5B2 100%);
$color-linear-bg-secondary: linear-gradient(-180deg, #24B6E6 0%, #CD87D9 100%);
$color-bg: $color-white;

$color-grapefruit-1: #F76C82;
$color-grapefruit-2: #EB5463;
$color-grapefruit-3: #D94452;

$color-bittersweet-1: #FB836F;
$color-bittersweet-2: #FA6C51;
$color-bittersweet-3: #E8553E;

$color-sunflower-1: #FBD277;
$color-sunflower-2: #FDCD56;
$color-sunflower-3: #F5B945;

$color-grass-1: #B4DF80;
$color-grass-2: #9ED26A;
$color-grass-3: #89C053;

$color-mint-1: #61DDBC;
$color-mint-2: #46CEAC;
$color-mint-3: #35BA9B;

$color-aqua-1: #66D4F1;
$color-aqua-2: #4FC0E8;
$color-aqua-3: #3AADD9;

$color-blue-1: #73B0F4;
$color-blue-2: #5E9CEA;
$color-blue-3: #4A88DA;

$color-lavender-1: #B3A4EE;
$color-lavender-2: #AC92EA;
$color-lavender-3: #9579DA;

$color-pink-1: #F199CE;
$color-pink-2: #EB86BE;
$color-pink-3: #D56FAC;

$color-light-gray-1: #F4F6F8;
$color-light-gray-2: #E4E8EB;
$color-light-gray-3: #CAD0D7;

$color-dark-gray-1: #A9B0BB;
$color-dark-gray-2: #636C77;
$color-dark-gray-3: #424852;

$color-typo: $color-dark-gray-3;
$color-typo-medium: $color-dark-gray-2;
$color-typo-medium-light: $color-dark-gray-1;
$color-typo-light: $color-white;

$color-primary: $color-mint-3;
$color-primary-darker: darken($color-primary, 5%);
$color-disabled: $color-light-gray-3;
$color-default: $color-dark-gray-1;
$color-default-darker: darken($color-default, 5%);
$color-text-disabled: $color-dark-gray-2;
