@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

h1,
h2,
h3,
h4,
h5 {
  color: $color-typo;
  font-weight: 400;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  padding-bottom: $space/2;

  &--light {
      color: $color-white;
  }
}

.h1,
.h1--light,
h1 {
  font-size: 32px;
  line-height: 1.2;
}
.h2,
.h2--light,
h2 {
  font-size: 24px;
  line-height: 1.2;
  padding-bottom: $space;
}
.h3,
.h3--light,
h3 {
  font-size: 18px;
  line-height: 1.2;
}
.h4,
.h4--light,
h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}
p {
	font-weight: 300;
	font-size: 14px;
	line-height: 1.2;
  padding: ($space) 0 0;
}
