.loading {
  width: 70px;
  transform-origin: center center;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: 50%;
  margin-top: -35px;
}

/****
** segment builder
****/
$loading-gooey-size: 30px;
$loading-gooey-speed: 2s;
$loading-gooey-distance: 25px;
$color-primary: #8057E5;

.loading--gooey {
  opacity: 1;

  .blobs {
  	filter: url("#goo");
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
  }
  .blob {
    position: absolute;
    background: rgba($color-primary, 1);
    left: 50%;
    top: 50%;
    width: $loading-gooey-size;
    height: $loading-gooey-size;
    line-height: $loading-gooey-size;
    text-align: center;
    font-size: 40px;
    border-radius: 100%;
    margin-top: -($loading-gooey-size / 2);
    margin-left: -($loading-gooey-size / 2);
    animation: blob-left-anim cubic-bezier(0.77, 0, 0.175, 1) $loading-gooey-speed infinite;
  }
  .blob:nth-child(2) {
    animation: blob-right-anim cubic-bezier(0.77, 0, 0.175, 1) $loading-gooey-speed infinite;
  }
}

  @keyframes blob-left-anim {
    0% {
      transform: scale(1.1) translate(0, 0);
    }
    50% {
      transform: scale(0.9) translate(-$loading-gooey-distance, 0);
    }
    100% {
      transform: scale(1.1) translate(0, 0);
    }
  }
  @keyframes blob-right-anim {
    0% {
      transform: scale(1.1) translate(0, 0);
    }
    50% {
      transform: scale(0.9) translate($loading-gooey-distance, 0);
    }
    100% {
      transform: scale(1.1) translate(0, 0);
    }
  }
