body {
  background: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.kawaii-styleguide {
  background: #fff;
  display: flex;
  flex-direction: column;

  .main {
    display: flex;
    flex: 1;
    z-index: 999;
    background: url(../images/bg.svg) repeat;
  }
  .main__content {
    flex: 1;
    margin: ($space * 2);
    padding: $space;
    background: $color-white;
    box-shadow: $level-3;
  }
  .main__nav {
    flex: 0 0 12em;
    border-right: 1px solid $color-light-gray-2;
    background: $color-white;
    padding-top: $space;

    .h3 {
      color: $color-typo;
      padding: 0 15px;
    }
    .ReactStyleguidist-colors__link {
      color: $color-primary;

      &:hover {
        color: $color-primary-darker;
      }
    }
  }
  .main__nav__buttons {
    display: inline-flex;
    padding: 15px 15px 0;
  }
}
.footer {
  display: flex;
  text-align: center;
  width: 100%;
  height: 40px;
  text-align: center;
  background: $color-white;
  border-top: 1px solid $color-light-gray-2;
  justify-content: center;
  align-items: center;
}
