$ns-app: "";

/************************
Transitions
************************/
$transition-hover-element: all 0.5s linear;


/************************
Shadows Levels
************************/
$level-1: 0 0 15px 0 rgba(145,145,145,0.40);
$level-2: 0 0 15px 0 rgba(125,125,125,0.70); // level-2 also has a mixin for color
$level-3: 0 0 50px 0 rgba(125,125,125,0.50);

/************************
Space - The grid works with rem
************************/
$space: 1.25rem;
