$ns-app: "";

/************************
Transitions
************************/
$transition-hover-element: all 0.8s linear;


/************************
Shadows Levels
************************/
$level-1: 0 0 15px 0 rgba(145,145,145,0.40);
$level-2: 5px 5px 20px 0 rgba(46,60,73,0.2);
$level-3: 0 0 20px 0 rgba(46,60,73,0.15);

/************************
Space - The grid works with rem
************************/
$space: 1.25rem;
