.kawaiiElementWrapper {
  .speech {
    .after {
      width: 35px;
      height: 20px;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: rotateZ(-14.32394487827058deg)  translateX(-5px) skewX(-36deg);
    }
  }
}
