body {
	background: #fff;
}

.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;

	.main {
        display: flex;
        flex: 1;
    }
    .main__content {
        position: relative;
        flex: 1;
        padding: 0 $space;
    }

    .main__nav {
      flex: 0 0 12em;
      border: 1px solid $color-light-gray-2;
    }
}
