.buttonThemeToggle {
  cursor: pointer !important;
}

.buttonThemeToggle__loading {
  animation: spin 1s linear infinite;
  opacity: 0.4;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
